.titl {
  width: 300px ;
  max-height:200px;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis ;
  overflow: hidden;
}

.desc{
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis ;
  overflow: hidden;  
}

.card{
    min-height:400px !important;
}

.portalBody{
  min-height: 500px;
  margin-bottom: 50px;
  overflow-y:scroll;
  max-height: 650px;
}

.pimgBox{
  min-width: 450px;
  max-width: 450px;
  min-height: 300px;
  max-height: 300px;
  position: relative;
  
}