.titl {
  width: 300px ;
  max-height:200px;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis ;
  overflow: hidden;
}

.desc{
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis ;
  overflow: hidden;  
}

.cards{
    min-height:400px;
}


/* portal section */
.portalBody{
  min-height: 500px;
  margin-bottom: 50px;
  overflow-y:scroll;
  max-height: 650px;
}

.pimgBox{
  min-width: 450px;
  max-width: 450px;
  min-height: 300px;
  max-height: 300px;
  position: relative;
  
}

@media only screen and (max-width:680px){
  .cards{
    position:relative;
    height:200px; 
    min-height:340px;
    min-width:150px;
    /* left:-7% !important ; */
  }
  .rightBox>h1{
    font-size:19px;
    margin-bottom:-10px;
    padding-bottom:1px;
  }
  .rightBox>small{
    font-size:13px;
    height:20px;
    margin-bottom:1px;
    padding-bottom:1px;
  }
  .rightBox>div{
    font-size:13px;
    margin-bottom:1px;
    padding-bottom:1px;
  }
}

@media only screen and (max-width:480px){


  .cards{
    width:300px;
  }
  
}