.modalhead{
  background-color:rgba(15, 3, 3, 0.13) ;
  z-index: 40;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.modalbody{
  top: 15vh;
  left:20vw
}

.portalBody{
  width:60vw;
}



.leftBox{
  min-width:30%;
  margin-right: 10px;
}