.modalhead{
  background-color:rgba(27, 27, 27, 0.041) ;
  z-index: 40;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.modalbody{
  position: relative;
  margin: 10px 100px;
}

.portalBody{
  width:60vw;
}


.leftBox{
  min-width:30%;
}