.logo {
    height: 6vh;
    border-radius: 50%;
}

.logo:hover {
    scale: 1.2;
    transition: all 1s linear;
    transform: rotate(360deg);
}

.change-clor:hover {
    color: black;
    transition: all 0.3s ease;
    scale: 1.4;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-height: 10vh;
    /* background-color: rgb(10, 104, 141); */
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.fa-bars {
    font-size: 30px;
    color: rgb(48, 43, 43);
}

.fa-bars:hover {
    color: black;
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navright{
    color:black
}

.links-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.globe {
    color: tomato;
    margin: 0 15px;
}

.globe:hover {
    color: rgb(241, 69, 38);
    transform: rotateY(180deg);
}

input {
    width: 30vw;
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
}

input:focus {
    border-bottom: 3px solid white;
}

.fa-search {
    font-size: 23px;
    margin: 0 5px;
}

.fa-search:hover {
    transition: all 0.5s ease-out;
    transform: rotate(360deg);
    scale: 1.09;
    font-size: 28px;
}

code {
    /* width: 100px;
    height: 10px; */
    position: relative;
    animation-name: example;
    animation-duration: 1.9s;
    animation-timing-function: ease;
  }
  
  @keyframes example {
    0%   { left:-180px; top:0px;}
    50%  { left:250px; top:0px;}
    100% { left:0px; top:0px;}
  }

@media screen and (max-width:680px) {
    #img-logo {
        display: none;
    }
    input {
        width: 40vw;
        align-items: center;
        border: none;
        margin: 5px 10px;
        border-bottom: 2px solid black;
    }
    .navright{
        display:none;
    }
}

@media screen and (max-width:420px) {
    input {
        width: 75vw;
        align-items: center;
        border: none;
        margin: 5px 10px;
        border-bottom: 2px solid black;
    }
    .navright{
        display:none !important;
    }
}